
html {
  background: #04051c;
}

body {
  font-family: 'Lora', serif;
  font-size: 1rem;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5rem;
  position: fixed;
  top: 2%;
  left: 2%;
  animation: textglow 3s ease-in-out infinite alternate;
}

h2, h3, h4 {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

img {
  filter: blur(5px);
  margin-bottom: .5rem;
  height: 60vh;
  width: auto;
  animation: glow .5s ease-in-out infinite alternate;
}

img:hover {
  filter: none;
}

#lantern {
  background: #ff5a2f;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  height: 80px;
  width: 70px;
  border-radius: 15px 15px 20px 20px;
  position: fixed;
  top: 6%;
  right: 4%;
  animation: shake 4s ease-in-out infinite;
}

#lantern:hover {
  cursor: pointer;
}

.filter {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  position: fixed;
  top: 19%;
  left: 2.5%;
  z-index: 5;
}

span {
  font-weight: 700;
  margin-left: 1.5rem;
  margin-right: 1rem;}

span:hover {
  animation: flash;
  animation-duration: 1s;
  cursor: pointer;
}

#info {
  color: #fff;
  background-color: #04051c;
  border-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px 5px 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  position: fixed;
  top: 18.5%;
  left: 50%;
  z-index: 5;
  cursor: pointer;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

#text{
  font-size: 1.5rem;
  color: #fff;
  transform: translate(16%,80%);
  width: 75%;
}

.container {
  display: flex;
  margin-top: 12%;
}

.restaurant-container {
  display: inline-block;
  margin: 1rem;
}

.is-hidden {
  display: none;
}


/*______________________animations______________________*/

@keyframes textglow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 
    0 0 40px #fff122, 0 0 50px #fff122, 0 0 60px #fff122;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff3d25, 0 0 40px #ff3d25, 
    0 0 50px #ff3d25, 0 0 60px #ff3d25, 0 0 70px #ff3d25;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 
    0 0 8px #fff122, 0 0 10px #fff122, 0 0 12px #fff122;
  }
  to {
    box-shadow: 0 0 4px #fff, 0 0 6px #ff3d25, 0 0 8px #ff3d25, 
    0 0 10px #ff3d25, 0 0 12px #ff3d25, 0 0 14px #ff3d25;
  }
}

@keyframes shake {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff122, 
    0 0 40px #fff122, 0 0 50px #fff122, 0 0 60px #fff122;
    transform : rotate(10deg) scale(1);
  }
  50% {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff3d25, 0 0 40px #ff3d25, 
    0 0 50px #ff3d25, 0 0 60px #ff3d25, 0 0 70px #ff3d25;
    transform : rotate(-10deg) scale(1);
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff122, 
    0 0 40px #fff122, 0 0 50px #fff122, 0 0 60px #fff122;
    transform : rotate(10deg) scale(1);
  }
}


/*____________So elements don't overlap when in inspector view____________*/

@media only screen and (max-width: 1000px) {

.filter {
  position: fixed;
  top: 19%;
  left: 0;
  padding: 1rem;
}

span {
  margin: 1rem;
}

.container {
  margin-top: 17%;
}

}

/*____________________Mobile view - iPhone X____________________*/

@media only screen and (max-width: 380px) {

h1 {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  position: fixed;
  top: 5;
  left: 0;
  padding: 2rem;
  padding-bottom: 1.8rem;
}

h2, h3, h4 {
  font-size: .9rem;
  margin: 0;
}

h2 {
  font-size: 1.15rem;
}

.filter {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  position: fixed;
  top: 25%;
  left: 0;
  padding: 1rem;
  padding-bottom: 1.2rem;
}

span {
  margin: 1rem;
}

span:hover {
  animation: none;
}

#lantern {
  font-size: .8rem;
  height: 60px;
  width: 50px;
  border-radius: 15px 15px 20px 20px;
  position: fixed;
  top: -1rem;
  left: 170px;
  animation: shake 3s ease-in-out infinite;
  opacity: 90%;
}

img {
  filter: none;
  margin-bottom: .5rem;
  height: 110px;
  width: 110px;
}

#info {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: fixed;
  top: 23%;
  left: 44%;
  text-transform: uppercase;
  z-index: 5;
}

#overlay {
  background-color: rgba(147, 119, 112, .85);
}

#text{
  font-size: 1.3rem;
  transform: translate(16%,17%);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20rem;
}

.restaurant-container {
  margin: 0rem;
  padding: 10px;
}

}