
html {
  animation: gradient 40s ease infinite;
  background: radial-gradient(#e5e5e5, #ff584e, #ffef25);
  background-size: 500% 500%;
}

body {
  font-family: 'Lora', serif;
  font-size: 1rem;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.75rem;
  letter-spacing: .1rem;
  position: fixed;
  top: 2%;
  left: 2%;
}

h2, h3, h4 {
  font-size: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

img {
  box-shadow: -4px 5px 10px 0px #000;
  filter: blur(5px);
  margin-bottom: .5rem;
  height: 60vh;
  width: auto;
}

img:hover {
  filter: none;
}


button {
  background: #ff5a2f;
  height: 80px;
  width: 70px;
  border-radius: 15px 15px 20px 20px;
  position: fixed;
  top: 6%;
  right: 4%;
  animation: shake 3s ease-in-out infinite;
  opacity: 75%;
}

button:hover {
  cursor: pointer;
}

.filter {
  font-size: 1rem;
  font-weight: 500;
  position: fixed;
  top: 16%;
  left: 2%;
}

span {
  margin-right: 1rem;
}

.container {
  display: flex;
  margin-top: 12%;
}

.restaurant-container {
  display: inline-block;
  margin: 1rem;
}

.is-hidden {
  display: none;
}

.is-active {
  font-weight: 700;
}


/*______________________animations______________________*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff122, 
    0 0 40px #fff122, 0 0 50px #fff122, 0 0 60px #fff122;
    transform : rotate(10deg) scale(1);
  }
  50% {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff3d25, 0 0 40px #ff3d25, 
    0 0 50px #ff3d25, 0 0 60px #ff3d25, 0 0 70px #ff3d25;
    transform : rotate(-10deg) scale(1);
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff122, 
    0 0 40px #fff122, 0 0 50px #fff122, 0 0 60px #fff122;
    transform : rotate(10deg) scale(1);
  }
}


/*____________________Mobile view - iPhone X____________________*/

@media only screen and (max-width: 380px) {

html {
  animation: none;
  background: linear-gradient(#ff584e, #ffef25, #ffef25, #ff584e);
  background-size: 100% 100%;
}

h1 {
  background-color: rgba(360, 100, 100, 0.8);
  text-align: center;
  font-size: 2.3rem;
  letter-spacing: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
}

h2, h3, h4 {
  font-size: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

.filter {
  background-color: rgba(255, 240, 0, 0.8);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  position: fixed;
  top: 23%;
  left: 0;
  padding: 1rem;
}

span {
  margin: 1rem;
}

button {
  height: 60px;
  width: 50px;
  border-radius: 15px 15px 20px 20px;
  position: fixed;
  top: -1rem;
  left: 190px;
  animation: shake 3s ease-in-out infinite;
  opacity: 75%;
}

img {
  filter: none;
  margin-bottom: .5rem;
  height: 110px;
  width: 110px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20rem;
}

.restaurant-container {
  display: inline-block;
  border: 5px solid #000;
  margin: 0rem;
  padding: 10px;
}

}